version: '3'

services:
  nginx-balancer:
    image: nginx
    ports:
      - "80:80"
    networks:
      - nginx-network
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ~/var/www/html:/var/www/html

networks:
  nginx-network: