version: '3'
services:
  drupal:
    image: drupal:9
    container_name: drupal
    env_file: .env
    ports:
      - "80:80"
    volumes:
      - ~/var/www/html:/var/www/html
    user: 1000:1000
    networks:
      - drupal-network

networks:
  drupal-network:
