version: '3'
services:
  drupal:
    image: drupal:8.7.8-fpm-alpine
    container_name: drupal
    restart: unless-stopped
    networks:
      - internal
      - external
    volumes:
      - drupal-data:/var/www/html
    user: '1000:1000'

networks:
  internal:
  external:

volumes:
  drupal-data:
